@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,800);
/******************************************************************
Site Name: STATS!
Author: Rob Scott
Stylesheet: Main Stylesheet
******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/******************************************************************
Stylesheet: Variables
******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Stylesheet: Typography
******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/* line 40, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/
/* line 4, ../scss/breakpoints/_base.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/breakpoints/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 15, ../scss/breakpoints/_base.scss */
header, body, footer {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

/* line 19, ../scss/breakpoints/_base.scss */
header {
  background-color: #2c2a29;
  color: white;
  padding-top: .25em;
}

/* line 24, ../scss/breakpoints/_base.scss */
body {
  margin: 0;
}

/* line 27, ../scss/breakpoints/_base.scss */
section {
  margin: 0.25em .75em;
}
/* line 29, ../scss/breakpoints/_base.scss */
section .section-title {
  color: black;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
}

/* line 38, ../scss/breakpoints/_base.scss */
.stripes {
  background-color: #7c8897;
  border-bottom-color: #2c2a29;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-top-color: #2c2a29;
  border-top-style: solid;
  border-top-width: 5px;
  height: 20px;
}

/* line 49, ../scss/breakpoints/_base.scss */
.stripes-top {
  border-bottom-color: #2c2a29;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-top-color: #7c8897;
  border-top-style: solid;
  border-top-width: 25px;
}

/* line 57, ../scss/breakpoints/_base.scss */
.stripes-bottom {
  border-bottom-color: #7c8897;
  border-bottom-style: solid;
  border-bottom-width: 25px;
  border-top-color: #2c2a29;
  border-top-style: solid;
  border-top-width: 15px;
  margin-top: 2em;
}

/********************
PLAYER BANNER
********************/
/* line 72, ../scss/breakpoints/_base.scss */
header .player-banner-bg {
  margin: 0 auto;
  display: block;
  width: 100%;
}
/* line 78, ../scss/breakpoints/_base.scss */
header .player-banner {
  margin: 0 .5em;
}
/* line 80, ../scss/breakpoints/_base.scss */
header .player-banner .player-is-rookie {
  height: auto;
  position: absolute;
  top: 0;
  width: 15%;
}
/* line 87, ../scss/breakpoints/_base.scss */
header .player-banner .player-headshot {
  border-radius: 2em 2em 0 0;
  height: auto;
  margin-top: -10%;
  width: 20%;
}

/****************
PLAYER INFO
*****************/
/* line 101, ../scss/breakpoints/_base.scss */
.player-info {
  background-color: #2c2a29;
  margin: 0;
  padding: 0 0.5em 1em;
  position: relative;
}
/* line 109, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-name-team {
  display: inline-block;
  text-transform: uppercase;
  width: 65%;
}
/* line 113, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-name-team .player-name {
  color: white;
  font-size: 3.25vw;
  font-weight: 800;
  margin: 0 auto;
  text-shadow: 1px 1px black, 3px 3px #d0d3d4;
}
/* line 120, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-name-team .team-name {
  font-size: 1.75vw;
  font-weight: 300;
  margin: 0.25em auto 0;
}
/* line 124, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-name-team .team-name a {
  color: white;
  text-decoration: none;
}
/* line 131, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-physical {
  display: inline-block;
  margin-top: 1em;
  width: 65%;
}
/* line 137, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-physical .player-height,
.player-info .player-top-info .player-physical .player-weight,
.player-info .player-top-info .player-physical .player-hand {
  color: white;
  display: inline-block;
  font-size: 1.75vw;
  margin: 0 auto;
  width: 32.5%;
}
/* line 146, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-num-pos {
  float: right;
  margin-top: -10vw;
  text-align: right;
  width: 33%;
}
/* line 152, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-num-pos .player-number {
  color: white;
  font-size: 15vw;
  font-weight: 800;
  margin: 0;
}
/* line 158, ../scss/breakpoints/_base.scss */
.player-info .player-top-info .player-num-pos .player-position {
  color: white;
  font-size: 2.25vw;
  font-weight: 300;
  margin: -.25em 0 0 0;
  text-transform: uppercase;
}
/* line 170, ../scss/breakpoints/_base.scss */
.player-info .player-bottom-info {
  display: inline-block;
  margin-top: 1em;
  width: 65%;
}
/* line 177, ../scss/breakpoints/_base.scss */
.player-info .player-bottom-info .player-birthdate,
.player-info .player-bottom-info .player-age,
.player-info .player-bottom-info .player-birthplace {
  color: white;
  display: inline-block;
  font-size: 1.75vw;
  margin: 0 auto;
  width: 32.5%;
}
/* line 183, ../scss/breakpoints/_base.scss */
.player-info .player-bottom-info .player-birthdate .player-info-label,
.player-info .player-bottom-info .player-age .player-info-label,
.player-info .player-bottom-info .player-birthplace .player-info-label {
  color: black;
  font-size: 1.25vw;
  font-weight: 300;
  margin: 0 auto;
}
/* line 192, ../scss/breakpoints/_base.scss */
.player-info .player-bottom-info .player-birthdate .player-dob {
  margin: 0 auto;
}
/* line 197, ../scss/breakpoints/_base.scss */
.player-info .player-bottom-info .player-age .player-years-old {
  margin: 0 auto;
}
/* line 202, ../scss/breakpoints/_base.scss */
.player-info .player-bottom-info .player-birthplace .player-birthplace-city {
  margin: 0 auto;
}

/************************
PLAYER STATS
*************************/
/* line 216, ../scss/breakpoints/_base.scss */
.player-stats .career-regular-season-stats {
  display: block;
  width: 100%;
}
/* line 219, ../scss/breakpoints/_base.scss */
.player-stats .career-regular-season-stats .career-stat-label-row {
  display: table-row-group;
}
/* line 221, ../scss/breakpoints/_base.scss */
.player-stats .career-regular-season-stats .career-stat-label-row .career-stat-holder {
  display: table-cell;
  padding: 0 0.5em;
}
/* line 224, ../scss/breakpoints/_base.scss */
.player-stats .career-regular-season-stats .career-stat-label-row .career-stat-holder p {
  text-align: center;
}
/* line 227, ../scss/breakpoints/_base.scss */
.player-stats .career-regular-season-stats .career-stat-label-row .career-stat-holder .career-stat-label {
  color: #7c8897;
  font-size: 1.5vw;
  font-weight: 600;
  margin: 0;
}
/* line 233, ../scss/breakpoints/_base.scss */
.player-stats .career-regular-season-stats .career-stat-label-row .career-stat-holder .career-stat {
  color: black;
  font-size: 2.5vw;
  font-weight: 800;
  margin-top: 0;
}
/* line 243, ../scss/breakpoints/_base.scss */
.player-stats .player-stats-labels {
  display: table;
  width: 100%;
}
/* line 246, ../scss/breakpoints/_base.scss */
.player-stats .player-stats-labels .player-stats-label {
  display: table-cell;
  font-size: 2vw;
}
/* line 250, ../scss/breakpoints/_base.scss */
.player-stats .player-stats-labels #season-id-label, .player-stats .player-stats-labels #season-league-label, .player-stats .player-stats-labels #season-games-label, .player-stats .player-stats-labels #season-goals-label, .player-stats .player-stats-labels #season-assists-label, .player-stats .player-stats-labels #season-points-label, .player-stats .player-stats-labels #season-pim-label {
  width: 10%;
}
/* line 253, ../scss/breakpoints/_base.scss */
.player-stats .player-stats-labels #season-team-label {
  width: 25%;
}
/* line 256, ../scss/breakpoints/_base.scss */
.player-stats .player-stats-labels #season-more-label {
  width: 5%;
}
/* line 262, ../scss/breakpoints/_base.scss */
.player-stats .player-season {
  display: block;
  font-size: 2vw;
  width: 100%;
}
/* line 266, ../scss/breakpoints/_base.scss */
.player-stats .player-season .player-season-top-stats {
  display: table;
  width: 100%;
}
/* line 270, ../scss/breakpoints/_base.scss */
.player-stats .player-season .player-season-top-stats .season-id, .player-stats .player-season .player-season-top-stats .season-league, .player-stats .player-season .player-season-top-stats .season-games, .player-stats .player-season .player-season-top-stats .season-goals, .player-stats .player-season .player-season-top-stats .season-assists, .player-stats .player-season .player-season-top-stats .season-points, .player-stats .player-season .player-season-top-stats .season-pim {
  width: 10%;
}
/* line 273, ../scss/breakpoints/_base.scss */
.player-stats .player-season .player-season-top-stats .season-team {
  width: 25%;
}
/* line 275, ../scss/breakpoints/_base.scss */
.player-stats .player-season .player-season-top-stats .season-team a {
  color: #7c8897;
  text-decoration: none;
}
/* line 278, ../scss/breakpoints/_base.scss */
.player-stats .player-season .player-season-top-stats .season-team a:hover {
  color: #58626f;
}
/* line 283, ../scss/breakpoints/_base.scss */
.player-stats .player-season .player-season-top-stats .season-see-more {
  padding-right: 15px;
  text-align: right;
  width: 5%;
}
/* line 289, ../scss/breakpoints/_base.scss */
.player-stats .player-season:nth-child(even) {
  background-color: #d0d3d4;
  color: white;
}
/* line 298, ../scss/breakpoints/_base.scss */
.player-stats .player-season .player-season-record {
  display: table-cell;
  font-weight: 800;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 308, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 312, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expanded-title {
  color: #7c8897;
  display: block;
  font-size: 2.25vw;
  font-weight: 800;
  margin: 1vw auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
/* line 321, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expanded-title h5 {
  margin: 0;
}
/* line 325, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expand {
  display: table;
  margin: 2vw auto;
  text-align: center;
  width: 100%;
}
/* line 331, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expand .player-season-record-stat {
  display: table-cell;
}
/* line 333, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expand .player-season-record-stat span {
  font-weight: 800;
}
/* line 339, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expand .player-seasons-expand-row {
  display: table-row-group;
}
/* line 341, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expand .player-seasons-expand-row .player-season-record-stat {
  display: table-cell;
}
/* line 347, ../scss/breakpoints/_base.scss */
.player-stats .player-season-bottom-stats .player-seasons-expand:last-child {
  padding-bottom: 2vw;
}

/***********************
TABLE
***********************/
/* line 359, ../scss/breakpoints/_base.scss */
.center-stats {
  text-align: center;
}

/* line 362, ../scss/breakpoints/_base.scss */
.left-stats {
  text-align: left;
}

/* line 365, ../scss/breakpoints/_base.scss */
.right-stats {
  text-align: right;
}

/* line 368, ../scss/breakpoints/_base.scss */
.stats-table {
  display: table;
  width: 100%;
}
/* line 371, ../scss/breakpoints/_base.scss */
.stats-table .stats-row-head {
  display: table-header-group;
}
/* line 374, ../scss/breakpoints/_base.scss */
.stats-table .stats-row-stripes {
  display: table-row;
}
/* line 376, ../scss/breakpoints/_base.scss */
.stats-table .stats-row-stripes:nth-child(odd) {
  background-color: #d0d3d4;
  color: #2c2a29;
}
/* line 380, ../scss/breakpoints/_base.scss */
.stats-table .stats-row-stripes .stats-record {
  display: table-cell;
}
/* line 385, ../scss/breakpoints/_base.scss */
.stats-table .stats-row {
  display: table-row;
}
/* line 387, ../scss/breakpoints/_base.scss */
.stats-table .stats-row .stats-record {
  display: table-cell;
  width: 10%;
}

/* line 396, ../scss/breakpoints/_base.scss */
.season-stats-upper, .stats-labels {
  display: table;
  width: 100%;
}
/* line 399, ../scss/breakpoints/_base.scss */
.season-stats-upper .season-stats-total, .season-stats-upper .stats-label, .stats-labels .season-stats-total, .stats-labels .stats-label {
  display: table-cell;
  font-size: 3vw;
  width: 16%;
}
/* line 405, ../scss/breakpoints/_base.scss */
.season-stats-upper .season-stats-total a, .stats-labels .season-stats-total a {
  color: #7c8897;
  margin: 0;
  text-decoration: none;
}
/* line 409, ../scss/breakpoints/_base.scss */
.season-stats-upper .season-stats-total a:hover, .stats-labels .season-stats-total a:hover {
  color: #58626f;
}
/* line 412, ../scss/breakpoints/_base.scss */
.season-stats-upper .season-stats-total a h3, .stats-labels .season-stats-total a h3 {
  margin-bottom: 15px;
  margin-top: 15px;
}
/* line 417, ../scss/breakpoints/_base.scss */
.season-stats-upper .season-stats-total.center-stats, .stats-labels .season-stats-total.center-stats {
  font-weight: 800;
}
/* line 421, ../scss/breakpoints/_base.scss */
.season-stats-upper .stats-label, .stats-labels .stats-label {
  font-weight: 600;
  text-transform: uppercase;
}

/* line 428, ../scss/breakpoints/_base.scss */
.see-more {
  color: #7c8897;
  content: "";
  text-decoration: none;
}
/* line 432, ../scss/breakpoints/_base.scss */
.see-more:before {
  content: "+";
}

/**********************
STANDINGS
*********************/
/* line 441, ../scss/breakpoints/_base.scss */
.standings .division {
  display: inline-block;
  padding: 0 2.5%;
  width: 49%;
}
/* line 445, ../scss/breakpoints/_base.scss */
.standings .division .division-title {
  font-size: 2.25vw;
  font-weight: 800;
  margin: 0.25vw 0;
  text-align: center;
}
/* line 452, ../scss/breakpoints/_base.scss */
.standings .division .division-standings .team-records-header {
  display: table-header-group;
}
/* line 454, ../scss/breakpoints/_base.scss */
.standings .division .division-standings .team-records-header .team-records-header-label {
  display: table-cell;
}
/* line 461, ../scss/breakpoints/_base.scss */
.standings .division .division-standings .team-records .team-record {
  font-weight: 800;
}
/* line 464, ../scss/breakpoints/_base.scss */
.standings .division .division-standings .team-records .team-name {
  font-weight: 600;
  padding: .25em;
}
/* line 467, ../scss/breakpoints/_base.scss */
.standings .division .division-standings .team-records .team-name a {
  text-decoration: none;
}

/***********************
TEAM STYLES
***********************/
/* line 479, ../scss/breakpoints/_base.scss */
.team {
  background-color: #2c2a29;
  display: block;
  width: 100%;
}
/* line 483, ../scss/breakpoints/_base.scss */
.team .single-team-logo {
  display: inline-block;
  float: right;
  width: 25%;
}
/* line 488, ../scss/breakpoints/_base.scss */
.team .team-info {
  color: white;
  display: inline-block;
  padding-bottom: .5em;
  width: 70%;
}
/* line 493, ../scss/breakpoints/_base.scss */
.team .team-info .team-name {
  color: #d0d3d4;
  font-size: 6vw;
  margin: 0 auto;
  text-shadow: 1px 1px black, 3px 3px #d0d3d4;
  text-transform: uppercase;
}
/* line 500, ../scss/breakpoints/_base.scss */
.team .team-info .team-info-bio {
  font-size: 2vw;
  margin: 0.25em auto;
}

/* line 508, ../scss/breakpoints/_base.scss */
.season {
  display: block;
  width: 100%;
}
/* line 512, ../scss/breakpoints/_base.scss */
.season .season-title a {
  text-decoration: none;
}
/* line 516, ../scss/breakpoints/_base.scss */
.season .season-stats {
  width: 100%;
}
/* line 520, ../scss/breakpoints/_base.scss */
.season .season-stats-lower {
  display: none;
}
/* line 522, ../scss/breakpoints/_base.scss */
.season .season-stats-lower .stats-row {
  height: 2vw;
}
/* line 525, ../scss/breakpoints/_base.scss */
.season .season-stats-lower .stats-record {
  font-size: 1.5vw;
  padding-left: 1.5vw;
}
/* line 528, ../scss/breakpoints/_base.scss */
.season .season-stats-lower .stats-record span.stats-record-stat {
  color: black;
  float: right;
  font-weight: 800;
}
/* line 536, ../scss/breakpoints/_base.scss */
.season:nth-child(even) {
  background-color: #d0d3d4;
  border-top-color: #7c8897;
  border-top: 1vw solid;
  border-bottom-color: #7c8897;
  border-bottom: 1vw solid;
  color: white;
}

/* line 548, ../scss/breakpoints/_base.scss */
.team-headshots {
  display: block;
  width: 100%;
}
/* line 551, ../scss/breakpoints/_base.scss */
.team-headshots .players-table {
  display: table;
  width: 100%;
}
/* line 554, ../scss/breakpoints/_base.scss */
.team-headshots .players-table .forwards-row, .team-headshots .players-table .defense-row {
  display: table-row;
}
/* line 556, ../scss/breakpoints/_base.scss */
.team-headshots .players-table .forwards-row .player, .team-headshots .players-table .defense-row .player {
  display: table-cell;
  width: 16%;
}
/* line 561, ../scss/breakpoints/_base.scss */
.team-headshots .players-table .table-row-spacing {
  display: table-row;
  height: 3vw;
}
/* line 566, ../scss/breakpoints/_base.scss */
.team-headshots .player {
  text-decoration: none;
}
/* line 571, ../scss/breakpoints/_base.scss */
.team-headshots .player .player-headshot img {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 168px;
  max-height: 168px;
  width: 100%;
}
/* line 580, ../scss/breakpoints/_base.scss */
.team-headshots .player .player-headshot-info {
  text-align: center;
}
/* line 582, ../scss/breakpoints/_base.scss */
.team-headshots .player .player-headshot-info .player-firstname {
  color: black;
  font-size: 1.5vw;
  margin: 0;
}
/* line 587, ../scss/breakpoints/_base.scss */
.team-headshots .player .player-headshot-info .player-lastname {
  color: black;
  font-size: 2.25vw;
  margin: 0;
  text-transform: uppercase;
}

/* line 598, ../scss/breakpoints/_base.scss */
.team-leaders-stats {
  display: block;
  width: 100%;
}
/* line 601, ../scss/breakpoints/_base.scss */
.team-leaders-stats .player-stats-table {
  display: table;
  width: 100%;
}
/* line 604, ../scss/breakpoints/_base.scss */
.team-leaders-stats .player-stats-table .player-stats-table-header {
  display: table-header-group;
}
/* line 606, ../scss/breakpoints/_base.scss */
.team-leaders-stats .player-stats-table .player-stats-table-header .player-stat-header {
  display: table-cell;
  font-weight: 800;
  text-transform: uppercase;
}
/* line 612, ../scss/breakpoints/_base.scss */
.team-leaders-stats .player-stats-table .player-stat-row {
  display: table-row;
}
/* line 614, ../scss/breakpoints/_base.scss */
.team-leaders-stats .player-stats-table .player-stat-row:nth-child(even) {
  background-color: #d0d3d4;
  color: black;
}
/* line 618, ../scss/breakpoints/_base.scss */
.team-leaders-stats .player-stats-table .player-stat-row .player-stat {
  display: table-cell;
  font-weight: 600;
  font-size: 1.4vw;
  padding-bottom: .5vw;
  padding-top: .5vw;
}

/************************
HOMEPAGE
************************/
/* line 632, ../scss/breakpoints/_base.scss */
.logo-links {
  text-decoration: none;
}
/* line 635, ../scss/breakpoints/_base.scss */
.logo-links .team-logo {
  background-color: black;
  position: relative;
  margin: .5em;
  height: 150px;
  width: 150px;
  border: 5px solid #000;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
/* line 646, ../scss/breakpoints/_base.scss */
.logo-links .team-logo:after {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}
/* line 657, ../scss/breakpoints/_base.scss */
.logo-links .team-logo img {
  height: 100%;
  width: 100%;
}

/************************
FOOTER
************************/
/* line 667, ../scss/breakpoints/_base.scss */
footer {
  background-color: #2c2a29;
  padding-bottom: .25em;
  padding-top: .25em;
}
/* line 671, ../scss/breakpoints/_base.scss */
footer .copyright {
  color: white;
  font-size: 1vw;
  font-weight: 300;
  margin: .25em auto;
  text-align: center;
}
/* line 677, ../scss/breakpoints/_base.scss */
footer .copyright:nth-child(1) {
  margin-top: .75em;
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Stylesheet: 481px and Up Stylesheet
  ******************************************************************/
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Stylesheet: Tablet & Small Desktop Stylesheet
  ******************************************************************/
  /********************
  PLAYER BANNER
  ********************/
  /****************
  PLAYER INFO
  *****************/
  /* line 80, ../scss/breakpoints/_768up.scss */
  .player-stats .career-regular-season-stats .career-stat-holder {
    width: 13.5%;
  }
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Stylesheet: Desktop Stylsheet
  ******************************************************************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /********************
  PLAYER BANNER
  ********************/
  /****************
  PLAYER INFO
  *****************/
}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Stylesheet: Super Large Monitor Stylesheet
  ******************************************************************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /********************
  PLAYER BANNER
  ********************/
  /****************
  PLAYER INFO
  *****************/
}
